/* reset */
html {_text-overflow:ellipsis;}
html,body,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,img,q,dl,dt,dd,ol,ul,li,fieldset,form,legend,table,caption,tfoot,thead,tr,th,td,input{margin:0;	padding:0}
body{color:#666666;font:12px/1.125 simsun,Arial,Helvetica,sans-serif;background:url(/img/bg.png);}
h1,h2,h3,h4,h5,h6{font-size:14px;font-weight:normal;}
input,button,textarea{font-size:100%;color:#666}
table{border-collapse:collapse;border-spacing:0}
caption,cite,code,em,th,i{font-style:normal;font-weight:normal}
ul,ol,li{list-style:none}
caption,th{text-align:left}
q:before,q:after{content:''}
fieldset,img,iframe,input{border:0 none}
img{display:inline-block;border:1px #cccccc solid;padding:2px;}
img.noborder{border:0 none;padding:0;}
img.nopadding{padding:0;}
a{text-decoration:none;color:#5D8803;}
a:hover{text-decoration:underline}
a.content{text-decoration:none;color:#666;}
a.content:hover{text-decoration:none;color:#333;}
.clearfix:before,.clearfix:after{content:'';display:table}
.clear,.clearfix:after{clear:both}
.clearfix{*zoom:1}
.left{float:left}
.right{float:right}
.relative{position:relative}
.absolute{position:absolute}
.hidden{display:none}
.pointer{cursor:pointer;}
.lh150{line-height:150%;}
.lh200{line-height:200%;}
.ti20{text-indent:20px;}
.p5{padding:5px}
.p10{padding:10px}
.p15{padding:15px}
.p20{padding:20px}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}
.mauto{margin-left:auto;margin-right:auto}
.m5{margin:5px}
.m10{margin:10px}
.m15{margin:15px}
.m20{margin:20px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mt40{margin-top:40px}
.mt50{margin-top:50px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
/* color */
.c_green{color:#5D8803;}
.c_grey{color:#ccc;}
.c_999{color:#999;}
.c_333{color:#333;}
/* font */
.yahei{font-family:"Microsoft YaHei";}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f8{font-size:8px;-webkit-text-size-adjust:none}
.fwb{font-weight:bold;}
.tc{text-align:center;}
.tl{text-align:left;}
.tr{text-align:right;}
/* dot */
.dot{float:left;font-size:18px;}
.line_dot{height:0;overflow:hidden;border-top:1px #999 dashed;}
/* header */
.header{height:28px;}
.header-cont{width:1000px;background:#5d8803;color:#cfdcb4;line-height:18px;padding:5px 15px;}
.header-cont a{color:#cfdcb4;}
.header_divide{height:7px;width:1px;border-left:dotted 1px #aec481;float:right;margin:6px 8px 0;}
.header_login{color:#5d8803;background:url(/img/layout/header_btn.png) no-repeat;width:45px;height:17px;margin:}
.header_input{height:18px;line-height:18px;background:#c1d29f;color:#92af56;margin-right:8px;}
.header_cor{background:url(/img/layout/header_bg.png) no-repeat;width:12px;height:28px;position:absolute;top:0;left:1030px;}
.header_bg{width:100%;height:11px;position:absolute;background:#5d8803;top:0;z-index:-1;}
/* container */
.container{width:1030px;background:url(/img/body_bg.jpg) no-repeat 0 -28px;}
/* footer */
.footer{color:#999;padding:20px 0 50px 253px;line-height:20px;}
.copyright{width:42px;height:40px;background:url(/img/layout/copyright.png) no-repeat;float:left;margin-right:10px;}
/* nav */
.nav{font-size:14px;margin:0 0 9px 370px;}
.nav li{float:left;height:75px;width:85px;text-align:center;}
.nav .on{background:url(/img/layout/nav_on.png) no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/layout/nav_on.png');}
.nav a{display:block;line-height:55px;height:55px;border-left:1px #b9cf8b solid;}
.nav .first a{border-left:0px;}
/* leftside */
.leftside{padding:158px 0 0 55px;width:156px;float:left;}
.leftside_nav{width:156px;z-index:5;position:relative;}
.leftside_nav li{border-bottom:1px #c8de9b solid;padding-left:5px;height:35px;line-height:35px;}
.leftside_nav .last{border-bottom:0 none;}
.leftside_nav .dot{margin-right:6px}
.leftside_pic{width:243px;position:relative;left:-55px;z-index:1;}
/* rightside */
.rightside{float:right;width:787px;}
.rightside_title{height:48px;line-height:48px;}
.rightside_content{min-height:530px;_height:530px;padding:25px 30px 10px 24px;width:731px;background:#fff;border-left:1px #eef3e5 solid;border-right:1px #eef3e5 solid;}
.rightside_bottom{width:787px;height:10px;overflow:hidden;background:url(/img/body_bottom.png) no-repeat;}
/* section */
.section{margin-bottom:25px;}
.section_475{width:475px;}
.section_p4 img{padding:4px;}
.section_more{float:right;margin-top:7px;}
.section_title{background:url(/img/layout/section_title_bg.png) no-repeat;height:28px;line-height:24px;padding-left:25px;font-weight:bold;color:#5D8803;margin-bottom:20px;}
.section_short_list{height:144px;overflow:hidden;}
.section_short_list li{height:20px;line-height:20px;padding:0 0 10px;}
.section_short_list li a{margin-left:5px;}
.section_desc{line-height:200%;margin-left:156px;}
.section_imgs{}
.section_imgs li{text-align:center;float:left;margin:0 10px 5px 0;}
/* section twopart */
.section .twopart{width:355px;}
/* section threepart */
.section .threepart{width:242px;float:left;}
/* list */
.list_nav{border-bottom:1px #c7cfb5 dashed;padding:0 5px 10px;margin-bottom:28px;}
.list{padding:0 5px;}
.list li{padding:8px 0;}
.list_date{float:right;color:#ccc;}
/* imgs */
.imgs{padding-top:35px;}
.imgs li{text-align:center;float:left;line-height:150%;margin:0 35px 20px;}
.imgs img{margin-bottom:5px;}
.imgs a,.imgs a:hover{color:#333;font-size:16px;font-weight:bold;}
/* article */
.article{text-align:center;padding:12px 30px 20px;border-bottom:1px #c7cfb5 dashed;}
.article_title{font-weight:bold;margin-bottom:20px;}
.article_subtitle{font-size:12px;margin-bottom:25px;}
.article p{text-align:left;line-height:200%;font-size:14px;text-indent:28px;padding:16px 0;}
.article_prev{margin-left:30px;float:left;}
.article_next{margin-right:30px;float:right;}
/* pager */
.pager{text-align:center;padding-top:30px;}
.pager a,
.pager span{display:inline-block;height:20px;line-height:20px;padding:0 5px;border:1px #a7a7a6 solid;color:#999;}
.pager span{color:#5D8803;font-weight:bold;}
.pager a:hover{color:#333;}
/* hot */
.hot{float:right;width:236px;margin:2px 0 0;padding:0 6px 7px;background:#eff7da;}
.hot_title{height:25px;line-height:25px;text-align:center;color:#fff;background:url(/img/layout/hot_bg.png) no-repeat;margin-top:-2px;}
.hot_list{background:#fff;width:214px;border-left:1px #d7dfc4 solid;border-right:1px #d7dfc4 solid;padding:22px 0 0 20px;}
.hot_list li{padding-bottom:6px;}
.hot_list_num{background:url(/img/layout/num.png) no-repeat;width:17px;height:16px;line-height:16px;color:#fff;float:left;text-align:center;font-weight:bold;margin-right:10px;}
.hot_list img{border-color:#6ecfcf;padding:0;float:left;}
.hot_list p{margin-left:84px;line-height:16px;}
.hot_bottom{background:url(/img/layout/hot_bg.png) no-repeat 0 -25px;width:236px;height:12px;}
/* btn */
.support_btn{background:url(/img/btn/support.png) no-repeat;padding-left:30px;width:42px;height:29px;line-height:29px;display:inline-block;font-size:14px;}
.btn{width:87px;height:24px;line-height:24px;background:url(/img/btn/btn.png) no-repeat;text-align:center;display:inline-block;}
/* zhwy */
.zhwy .rightside_title{background:url(/img/zhwy/title.png) no-repeat 42px;}
.zhwy .leftside_pic{background:url(/img/zhwy/left.png) no-repeat;top:-65px;height:400px;}
/* aqws */
.aqws .rightside_title{background:url(/img/aqws/title.png) no-repeat 42px;}
.aqws .leftside_pic{background:url(/img/aqws/left.png) no-repeat;height:295px;}
/* dxcq */
.dxcq .rightside_title{background:url(/img/dxcq/title.png) no-repeat 42px;}
.dxcq .leftside_nav li{float:left;width:73px;}
.dxcq .leftside_pic{background:url(/img/dxcq/left.png) no-repeat;height:315px;top:-40px;}
/* szl */
.szl .leftside_pic{background:url(/img/szl/left.png) no-repeat;height:250px;top:-60px;}
.szl .rightside_title{background:url(/img/szl/title.png) no-repeat 42px;}
.szl .rightside_content{width:745px;padding:25px 20px 10px 20px;}
.szl .btn{margin-right:15px;}
/* welcome */
.welcome{background:#fff url(/img/welcome/bg.png) repeat-x;}
.welcome1{width:1100px;height:178px;background:url(/img/welcome/welcome1.jpg) no-repeat;overflow:hidden;position:relative;margin-top:-28px;z-index:-5;}
.welcome2{width:1100px;height:177px;background:url(/img/welcome/welcome2.jpg) no-repeat;overflow:hidden;}
.welcome3{width:1100px;height:178px;background:url(/img/welcome/welcome3.jpg) no-repeat;overflow:hidden;}
.welcome4{width:1010px;height:64px;background:url(/img/welcome/welcome4.jpg) no-repeat;overflow:hidden;padding:113px 0 0 90px;}
.welcome4 p{line-height:150%;}
.welcome_enter{width:78px;height:22px;background:url(/img/welcome/enter.png) no-repeat;display:block;margin:66px 0 0 755px;line-height:22px;padding-left:16px;}
.welcome_flash{width:750px;height:295px;background:url(/img/welcome/flash.png) no-repeat;position:absolute;top:282px;left:350px;}
/* invention */
.invention{color:#999;}
.invention_icon{width:57px;height:57px;background:url(/img/aqws/icon.png) no-repeat;position:absolute;display:block;top:-3px;left:-3px;}
.invention li{width:320px;height:210px;padding:15px;border:1px #e5e5e5 solid;float:left;margin:0 22px 22px 0;position:relative;}
.invention p{line-height:150%;text-align:center;}
.invention_desc{margin-top:15px;}
/* remind */
.remind{width:244px;float:right;}
.remind_head{height:50px;line-height:50px;background:url(/img/aqws/remind_bg.png) no-repeat;font-weight:bold;text-align:center;}
.remind_content{border:1px #e2e7c0 solid;border-bottom:0 none;background:#f6faea;padding-top:3px;}
.remind_foot{height:20px;background:url(/img/aqws/remind_bg.png) no-repeat 0 -50px;}
/* message */
.message{width:340px;margin-bottom:50px;}
.message p{line-height:200%;}
/* couplet */
.couplet{width:723px;position:relative;}
.couplet_head{height:57px;overflow:hidden;background:url(/img/dxcq/couplet_bg.png) no-repeat;}
.couplet_body{padding:12px 30px 20px 35px;}
.couplet_body .twopart{width:320px;}
.couplet_lb,
.couplet_rb{width:50px;height:50px;background:url(/img/dxcq/couplet_bg.png) no-repeat 0 -57px;;position:absolute;bottom:0;left:0;}
.couplet_rb{left:auto;right:0;background-position:right -57px;}
/* box */
.box{position:relative;padding:12px;border:1px #d3e0c1 solid;background:#fff;}
.box p{line-height:20px;}
.box_lt,.box_rt,.box_lb,.box_rb{width:11px;height:11px;overflow:hidden;background:url(/img/layout/box_bg.png) no-repeat;position:absolute;display:block;}
.box_lt{left:-1px;top:-1px;}
.box_rt{right:-1px;top:-1px;background-position:-11px 0;}
.box_lb{left:-1px;bottom:-1px;background-position:0 -11px;}
.box_rb{right:-1px;bottom:-1px;background-position:-11px -11px;}
/* honor */
.honor{background:#eff7e0 url(/img/szl/honor_bg.png) no-repeat;padding:0 4px 8px;position:relative;}
.honor h1{height:45px;text-indent:-1000px;margin-bottom:35px;}
.honor .btn{font-size:14px;}
.honor_left,.honor_right{width:4px;height:70%;position:absolute;bottom:0;background:#fff;}
.honor_left{left:0;}
.honor_right{right:0;}
.person_honor h1{background:url(/img/szl/person.png) no-repeat center center;}
.group_honor h1{background:url(/img/szl/group.png) no-repeat center center;}
.person_honor .box{width:212px;float:left;margin:0 0 15px 5px;}
.group_honor .box{margin:10px 10px 0;}
.group_honor li{margin-right:7px;}

